body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#object-list {
    margin-top: 20px;
}

#list-items {
    list-style-type: none;
    padding: 0;
}

.delete-button {
    margin-left: 15px; /* Aumentar el margen para mover el botón más a la derecha */
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c9302c;
}

.edit-button {
    margin-left: 5px; /* Espacio entre el botón de eliminar y editar */
    background-color: #f0ad4e;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #ec971f;
}

